body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.header-text {
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
    padding: 0;
    color: #fff; /* Cor do texto */
    font-family: 'Helvetica', sans-serif;
    font-weight: 200;
    font-size: 18px;
    z-index: 1; /* Garante que o texto fique na frente da imagem */
}

.upper {
    display: block;
}

.lower {
    display: block;
    font-size: 12px; /* Tamanho da fonte para as palavras "Prova de seleção" */
    margin-top: -5px; /* Ajuste para posicionar "Prova de seleção" abaixo de "ESTÁGIO" */
}

.nav-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
}

.nav-button {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.nav-button:hover {
    background-color: #0056b3;
}

.nav-buttons .nav-button:not(:last-child)::after {
    content: "\00B7"; 
    margin-left: 20px;
    font-size: 30px;
}

#cadastroForm {
    width: 100%; /* Define a largura do formulário como 100% */
    max-width: 800px; /* Adicionado um valor máximo para a largura do formulário */
}

#cadastroForm label {
    width: 100%; /* Define a largura das labels como 100% */
    max-width: 800px; /* Adicionado um valor máximo para a largura das labels */
    display: block;
    margin-bottom: 10px;
}

#cadastroForm input[type="text"],
#cadastroForm input[type="email"],
#cadastroForm input[type="date"],
#cadastroForm input[type="tel"],
#cadastroForm button[type="submit"] {
    width: 100%; /* Define a largura dos inputs e botões como 100% */
    max-width: 800px; /* Adicionado um valor máximo para a largura dos inputs e botões */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

#cadastroForm button[type="submit"] {
    font-size: 20px; /* Diminuído o tamanho da fonte do botão */
}

.listaCadastro {
    width: 100%;
    max-width: 800px; /* Adicionado um valor máximo para a largura da listaCadastro */
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 100%;
    max-width: 800px; /* Adicionado um valor máximo para a largura da tabela */
    border-collapse: collapse;
    background-color: white;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #29abe2;
}

th {
    font-family: 'Helvetica UltraLight', sans-serif;
    font-weight: 200;
    font-size: 25px;
    color: #012d51;
}

td {
    font-family: 'Helvetica UltraLight', sans-serif;
    font-weight: 200;
    font-size: 25px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#listaCadastro {
    width: 100%;
    max-width: 800px; /* Adicionado um valor máximo para a largura da tabela */
    border-collapse: collapse;
    background-color: white;
    margin-top: 20px;
}

#listaCadastro th, #listaCadastro td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #29abe2;
}

#listaCadastro th {
    font-family: 'Helvetica UltraLight', sans-serif;
    font-weight: 200;
    font-size: 25px;
    color: #012d51;
}

#listaCadastro td {
    font-family: 'Helvetica UltraLight', sans-serif;
    font-weight: 200;
    font-size: 25px;
}

#listaCadastro tr:nth-child(even) {
    background-color: #f2f2f2;
}

footer {
    text-align: center;
    margin-top: 30px;
}

footer img {
    max-width: 100%; 
}